@inherits LayoutComponentBase
@using EukairiaWeb.Components.Themes;
@inject ProtectedSessionStorage SessionStorage



<ProvidersAggregate></ProvidersAggregate>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudChip Label="true" Color="Color.Secondary" Icon="@Icons.Material.Filled.HourglassEmpty">Eukairia</MudChip>
        <MudSpacer />
        <MudChip Label="true" Color="Color.Secondary" Icon="@Icons.Material.Filled.Person" Edge="Edge.End">@UserName</MudChip>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1" ClipMode="DrawerClipMode.Always">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>



<div id="blazor-error-ui">
    Ha ocurrido un error no controlado
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    bool _drawerOpen = false;
    string UserName = "";


    public void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var username = await SessionStorage.GetAsync<string>("Username");
        if (username.Success)
        {
            UserName = username.Value;
            StateHasChanged();
        }
    }
}